:root{
    --verde: #68e283;
    --white: #ffffff;
    --white2: #b5cdd1;
    --cian: #82d2e0;

}

.btn{
    background-color: var(--white2);
    color: var(--white);
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    width: 90px;
    height: 40px;
    
}

.form{
    
    display: flex;
    flex-direction: column;
}

.container{
    background-color: var(--cian);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    flex-direction: column;
}